.title {
  font-size: 55px;
  background: rgb(36, 36, 36, .80);
}

.subtitle {
  background: rgb(36, 36, 36, .80);
}

.div {
  background-color: #FAFAFA;
}

.navbar {
    background-color: #FAFAFA;
    box-shadow: 0 0 10px rgb(66, 66, 66, .2);
}

